- var title = "Binusmaya Calendar"

doctype html
html
  head
    title=title
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,600" rel="stylesheet")
    link(href="/assets/css/normalize.css" rel="stylesheet")
    link(href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="/assets/css/app.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    script(src="/assets/js/jquery.min.js")=""
  body
    nav.navbar.navbar-custom.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#")=title
    .container
      .row.bg-solid.hidden
        .col-md-4
          div
            h3 Login
            form#login-form.form-custom
              .input-group
                input.form-control(type="text" placeholder="Username" data-bind="login.uid")
                span.input-group-addon @binus.ac.id
              .input-group
                span.input-group-addon
                  i.fa.fa-lock=""
                input.form-control(type="password" placeholder="Password" data-bind="login.pass")
              .input-group
                button.btn.btn-custom Login
      .row.bg-solid
        .col-xs-12.hidden
          h4(data-bind="api.status")=""
        .col-xs-12
          h4 Showing two weeks of upcoming schedules
          p(style="margin-top: 7px")
            | The following schedules will be added to your 
            b Google Calendar
          div(style="margin-top: 7px")
            button#btn-add-calendar.btn.btn-custom.hidden Add to calendar
            button#btn-google-signin.btn.btn-custom.hidden Sign in to Google
            span#text-progress.hidden
              | Inserting schedule... (
              span(data-bind="count")=0
              | /
              span(data-bind="total")=0
              | )
      .row#schedule-container
    script(src="/assets/bootstrap/js/bootstrap.min.js")=""
    script(src="/assets/js/bundle.js")=""
    script(src="https://apis.google.com/js/client.js?onload=checkAuth")=""
