.col-md-4.schedule-col
  .bg-solid
    table.schedule-table
      tbody
        tr
          th(colspan="3") Type
        tr
          td(colspan="3")=type
        tr
          th(colspan="3") Course
        tr
          td(colspan="3")=course
        tr
          th Date
          th Start
          th Finish
        tr
          td=dateStart
          td=timeStart
          td=timeFinish
        tr
          th Class
          th Campus
          th Room
        tr
          td=CLASS_SECTION
          td=LOCATION_DESCR
          td=ROOM
